---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
  <a class="skip-to-main" href="#main-content">Skip to main content</a>
  {% include icons/icons.html %}
  {% include components/sidebar.html %}
  <div class="main" id="top">
    {% include components/header.html %}
    <div id="main-content-wrap" class="main-content-wrap">
      {% include components/breadcrumbs.html %}
      <div id="main-content" class="main-content">
        <main>
          {% if site.heading_anchors != false %}
            {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
          {% else %}
            {{ content }}
          {% endif %}

        </main>
        {% include components/footer.html %}

        <!-- 添加自定义的底部链接 -->
        <div class="custom-footer-links" style="text-align: center; padding: 1rem 0; border-top: 1px solid #eeebee;">
          <p>
            <a href="https://github.com/Huashan258" target="_blank" style="margin: 0 10px;">GitHub</a>
            <span style="margin: 0 5px;">|</span>
            <a href="https://space.bilibili.com/29663423" target="_blank" style="margin: 0 10px;">哔哩哔哩</a>
          </p>
        </div>

      </div>
    </div>

    {% if site.search_enabled != false %}
      {% include components/search_footer.html %}
    {% endif %}
  </div>

  {% if site.mermaid %}
    {% include components/mermaid.html %}
  {% endif %}
</body>
</html>